!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/netqwikfilter.css')
    script(src='http://ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/dojo.js', data-dojo-config="parseOnLoad: true, async: true")
    script(src='/javascripts/socket.io/socket.io.js')
    script(src='/javascripts/netqwikfilter.js')
  body(class='claro')
    #preLoader(data-dojo-id='preLoader')
    div(data-dojo-type='dijit.layout.BorderContainer', style='width: 98%; height: 98%')
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'leading', splitter:true", style='width: 80%')
        div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%)
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Grid'")
            table#grid(data-dojo-type='dojox.grid.DataGrid', data-dojo-props="autoWidth:true, autoHeight:true, autoRender:true")
              thead
                tr
                  //-th(data-dojo-props='field:id')#id id 
                  th(data-dojo-props='field:0')#0 0
                  th(data-dojo-props='field:1')#1 1
                  th(data-dojo-props='field:2')#2 2
                  th(data-dojo-props='field:3')#3 3
                  th(data-dojo-props='field:4')#4 4
                  th(data-dojo-props='field:5')#5 5
                  th(data-dojo-props='field:6')#6 6 
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Graph'", style='width: 80%')
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'center'", data-dojo-id='centerPane')
        div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%)
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Main'")
            button(data-dojo-type="dijit.form.Button", id="startStream") Start Stream 
            button(data-dojo-type="dijit.form.Button", id="stopStream") Stop Stream
          div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Filters'")
      div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'bottom'", data-dojo-id='bottomPane')
        div(class="left")= title
        div(class="right", style='width: 1.8em; height: 1.8em')
          object(data="http://www.w3.org/html/logo/downloads/HTML5_Badge.svg", type="image/svg+xml", style='width: 98%; height: 98%')
